.blogBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  color: var(--color-main-font);
}

.blogList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
}

.blogList:hover {
  transform: scale(1.02);
  transition-duration: 0.5s;
}

.blogList:not(:hover) {
  transform: scale(1);
  transition-duration: 0.5s;
}

.blogTitle {
  font-size: 20px;
  color: var(--color-titlefont);
  font-weight: 300;
  margin: 0;
  padding: 10px 20px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--color-main-font);
}

.postTitle {
  width: 300px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-main-font);
}

.postDes {
  font-size: 12px;
  color: var(--color-main-font);
}

.postImg {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  color: var(--color-border-color);
}

.passButton {
  border: 0;
  width: 80px;
  height: 50px;
  background-color: var(--color-background);
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--color-border-color);
  color: var(--color-main-font);
  font-size: 20px;
}

.postDetailInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.postDetailTitle {
  font-size: 40px;
  font-family: light;
  font-weight: 400;
}

.postDetailDate {
  font-size: 20px;
  color: var(--color-date);
  font-family: light;
  font-weight: 300;
}

.postImage {
  display: block;
  width: 100%;
  height: 500px;
  margin-top: 30px;
  border-radius: 3px;
  object-fit: contain;
}

.postDetailImg {
  width: 150px;
  height: 150px;
}

.contentBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 100px;
}

.contentDetail {
  padding: 20px;
}

.tagUl {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
}

.tag {
  font-weight: 800;
}

.tagItem {
  background-color: var(--color-tag);
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  border-radius: 3px;
  padding: 0 5px;
  color: var(--color-tagcolor);
}

.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
