.blogBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.blogList {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.blogTitle {
  font-size: 20px;
  color: #222;
}

.postInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.postTitle {
  width: 400px;
  font-size: 20px;
  font-weight: 400;
}

.postDes {
  font-size: 12px;
}

.postImg {
  width: 150px;
  height: 150px;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.passButton {
  border: 0;
  width: 80px;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #000;
  font-size: 20px;
}

.postDetailInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px;
}

.postDetailTitle {
  font-size: 40px;
  font-weight: 400;
}

.postDetailDate {
  font-size: 20px;
  color: #383a3f;
}

.postDetailImg {
  width: 150px;
  height: 150px;
}

.contentBox {
  padding: 30px;
  margin-top: 20px;
}

.contentDetail {
  padding: 20px;
}
