:root {
  --color-background: #fff;
  --color-main: #f68657;
  --color-main-sub: #f686579e;
  --color-border-color: #000;
  --color-border-post: #fff;
  --color-main-font: #000;
  --color-tag: #d4dfe6;
  --color-tagcolor: #000;
  --color-titlefont: #222;
  --color-des: #383a3f;
  --color-date: #383a3f;
}

[data-dark='dark'] {
  --color-background: #121212;
  --color-main: #f68657;
  --color-main-sub: #f686579e;
  --color-border-color: #fff;
  --color-border-post: #fff;
  --color-main-font: #fff;
  --color-tag: #d4dfe6;
  --color-tagcolor: #000;
  --color-titlefont: #fff;
  --color-des: #fff;
  --color-date: #fff;
  --image: url('../public/dark_default.png');
  --image-hover: url('../public/_dark_hover.png');
}

body,
html {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  box-sizing: border-box;
  font-family: light;
}

main {
  grid-area: main;
}

img {
  width: 100%;
  height: 100%;
}

p {
  font-size: 16px;
  line-height: 30px;
}

code {
  width: 100%;
  font-size: 12px;
  display: inline-block;
  background-color: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
}

strong > code {
  display: inline-block;
  font-size: 12px;
}

pre > p {
  width: 100%;
  background-color: rgb(247 246 243);
  padding: 30px;
  margin: 20px 0;
  line-height: 20px;
}

ul {
  line-height: 20px;
}

li {
  list-style: none;
  line-height: 20px;
}

button {
  cursor: pointer;
}

code {
  counter-reset: line;
  padding: 20px;
  border-radius: 10px;
}

pre {
  border-radius: 10px;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  border-radius: 5px;
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  margin-bottom: 0.3rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-caption] {
  color: gray;
  font-size: 12px;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
