.intro_article {
  display: flex;
  flex-wrap: wrap;
}

.introContent {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 10px 20px;
}
.introHead {
  font-size: 72px;
  margin: 0;
}

.introImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.name {
  display: inline-block;
  font-size: 72px;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow:
    -1px -1px 0 var(--color-main),
    1px -1px 0 var(--color-main),
    -1px 1px 0 var(--color-main),
    1px 1px 0 var(--color-main);
  color: #fff;
  font-weight: 900;
  color: var(--color-main);
}

.recentSection {
  margin-top: 40px;
  padding: 10px 20px;
}

.sectionTitle {
  color: #222;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

.recentPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
}

.post {
  width: 50%;
  display: flex;
  gap: 20px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postTitle {
  font-size: 20px;
  font-weight: 400;
}

.postDes {
  font-size: 12px;
  color: #383a3f;
}

.postImg {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.linkDiv {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.link {
  position: relative;
  border: 2px solid var(--color-main-sub);
  border-radius: 10px;
  padding: 7px 10px;
  cursor: pointer;
  font-weight: 700;
}

.link:hover {
  background-color: var(--color-main-sub);
}

.link::before {
  display: inline-block;
  padding-right: 10px;
  content: '🔗';
}

.tooltip_text {
  display: none;
  position: absolute;
  bottom: -30px;
  right: -50px;
  max-width: 200px;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
  color: white;
  background: var(--color-main-sub);
}

.tooltip:hover .tooltip_text {
  display: block;
}
