.intro_article {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}
.introHead {
  font-size: 72px;
  margin: 0;
}

.introImage {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.name {
  display: inline-block;
  padding: 10px;
  font-size: 72px;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  color: #fff;
  font-weight: 900;
}

.recentSection {
  margin-top: 40px;
  padding: 10px 20px;
}

.sectionTitle {
  color: #222;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

.recentPosts {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.post {
  width: 50%;
  display: flex;
  gap: 20px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postTitle {
  font-size: 20px;
  font-weight: 400;
}

.postDes {
  font-size: 12px;
  color: #383a3f;
}

.postImg {
  width: 100px;
  height: 100px;
}
