.box {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 100px auto;
  gap: 40px;
  margin: 0 auto;
  padding: 0 220px;
}

.header {
  grid-area: header;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.7px solid #000;
  background-color: #fff;
}

.header_title {
  width: 124px;
  text-align: center;
  font-size: 32px;
  color: #f68657;
  font-weight: 900;
  font-family: normal;
}

.nav {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.lightmode {
  width: 50px;
  border: 0;
  background: url('../public/light_default.png') center no-repeat;
  background-size: 30px 45px;
}

.lightmode:hover {
  width: 50px;
  border: 0;
  background: url('../public/light_hover.png') center no-repeat;
  background-size: 30px 45px;
}

.nav_item {
  font-size: 16px;
  text-align: center;
  border: 2px solid #1f2124;
  border-radius: 3px;
  padding: 10px;
  line-height: 25px;
}

.footer {
  grid-area: footer;
  padding: 50px 0;
  text-align: center;
}

.footerBox {
  width: 213px;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 1px solid #000;
}

.footer_GitIcon {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.copyRight {
  font-size: 15px;
}
