.header {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 0.7px solid #000;
}

.header_title {
  font-size: 32px;
  color: #f68657;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.darkmode {
  display: block;
}

.nav_item {
  line-height: 28px;
  display: block;
  font-size: 20px;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
}
