.til {
  color: var(--color-titlefont);
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 10px 40px;
}

.tilList {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
}

.tilPost {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 280px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid var(--color-border-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tilPost:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
  transition-duration: 0.5s;
}

.tilPost:not(:hover) {
  transform: scale(1);
  transition-duration: 0.5s;
}

.tilDate {
  text-align: center;
  font-size: 20px;
  font-family: light;
  font-weight: 300;
  margin-bottom: 15px;
  color: var(--color-date);
}

.tilTitle {
  text-align: center;
  width: 200px;
  color: var(--color-titlefont);
}
